html {
  /* background-image: url("../images/free-batman-logo-wallpaper-31552-32285-hd-wallpapers.jpg"); */
  background-image: url("../images/bg_yellow.jpg");
  background-size: cover;
  height: 120%;
}

body {
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

/* header, section, div, #second-header, .content-section {
  border: 1px solid white;
  padding: 20px;
  margin: 5px;
} */

#main-header {
  color: black;
  font-size: 120px;
  text-align: center;
  /* padding-top: 35px; */
  /* margin: auto; */
  margin-top: 40px;
}

#second-header {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px
}

.wrapper {
  width: 960px;
  padding: 20px;
  margin: auto;
  overflow: auto;
  /* border: 1px solid white; */
  margin-top: 160px;
}

.maingame-text {
  text-align: center;
  padding: 20px;
}

.answer {
  font-size: 30px;
}

#start-text {
  font-size: 40px;
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 40px;
}

button {
  font-size: 35px;
}

.content-section {
  font-size: 26px;
  text-align: center;
  width: 420px;
  padding: 20px;
  /* border: 1px solid white; */
  margin: auto;
}

#image, #gameplay {
  float: left;
}

#gameplay {
  margin-left: 20px;
}

